/* font-family: 'Raleway', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html {
    background-color:  hsl(218, 28%, 13%);
    color: hsl(0, 0%, 100%);
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}

/* nav */
nav {
    padding: 3% 5% 0;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

nav div.logo {
    width: 25vw;
    float: left;
}

nav div.logo img {
    width: 100%;
}

nav ul {
    list-style: none;
    float: right;
}

nav ul li { 
    float: left;
}

nav ul li a {
    display: block;
    margin: 2vw 2vw 0;
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
    text-decoration: none;
}

@media (min-width: 411px) {
    nav ul li a {
    font-size: 1.8rem;
    }
}

@media (min-width: 768px) {
    nav ul li a {
    font-size: 2.0rem;
    }
}

@media (min-width: 1024px) {
    nav ul li a {
    font-size: 2.5rem;
    }
}

@media (min-width: 1440px) {
    nav ul li a {
    font-size: 3.0rem;
    }
}

/* header */
header {
    margin-top: 3%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

header div.welcome img {
    display: block;
    margin: 0 auto;
    width: 80vw;
    max-width: 500px;
}

header div.welcome h1 {
    max-width: 750px;
    margin: 5vh 10vw 0;
    text-align: center;
    line-height: 150%;
}

header div.welcome p {
    max-width: 750px;
    margin: 2vh 10vw 0;
    text-align: center;
    font-size: 1.3em;
    line-height: 140%;
}

@media (min-width: 375px) {
    header div.welcome h1 {
        font-size: 2.3em;
    }
    header div.welcome p {
        font-size: 1.5em;
    }
}

@media (min-width: 425px) {
    header div.welcome h1 {
        font-size: 2.5em;
    }
    header div.welcome p {
        font-size: 1.7em;
    }
}

@media (min-width: 768px) {
    header div.welcome h1 {
        font-size: 3.5em;
    }

}

@media (min-width: 1024px) {
    header div.welcome h1 {
        font-size: 4em;
        margin-left: auto;
        margin-right: auto;
    }
    header div.welcome p {
        font-size: 1.8em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1440px) {
    header div.welcome h1 {
        font-size: 5em;
    }
    header div.welcome p {
        font-size: 2em;
    }
}

header button {
    display: block;
    margin: 5vw auto 0;
    background-image: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    padding: 2vh 8vw;
    color: hsl(0, 0%, 100%);
    font-size: 1.3em;
    border-radius: 25px;
    border: none;
}

/* section features */
section.features {
    margin-top: 15vh;
    text-align: center;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

section.features img {
    display: block;
    margin: 2vh auto;
    height: 70px;
}

section.features h2 {
    margin-bottom: 2vh;
}

section.features p {
    margin: 0 15vw 3vh;
    font-size: 1.3em;
}

@media (min-width: 768px) {
    div.feature {
        float: left;
        width: 50%;
    }
    section.features h2 {
        font-size: 2em;
    }
    section.features p {
        margin: 0 10vw 10vh;
        font-size: 1.5em;
    }
}

/* section.productive */
section.productive {
    margin: 10vh 10vw;
}

section.productiv div.container {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

section.productive img {
    display: block;
    margin: 0 auto 5vh;
    width: 80vw;
    max-width: 500px;
}

section.productive h1 {
    margin-bottom: 3vh;
    text-align: center;
}

section.productive p {
    margin-bottom: 3vh;
    font-size: 1.2em;
    line-height: 1.7em;
}

section.productive div.text a {
    text-decoration: none;
    color: hsl(176, 68%, 64%);
    font-size: 1.2em;
    border-bottom: 1px solid hsl(176, 68%, 64%);
}


@media (min-width: 768px) {
    section.productive {
        margin: 5vh 0;
    }
    section.productive div.img {
        float: left;
        width: 60%;
    }
    section.productive div.img img {
        width: 90%;
    }
    section.productive div.text {
        float: left;
        width: 40%;
    }
    section.productive h1 {
        font-size: 2em;
        margin: 5vh 10vw 3vh 0;
        text-align: left;
    }
    section.productive p {
        font-size: 1.3em;
        margin-right: 5vw;
    }
}

@media (min-width: 1024px) {
    
    section.productive h1 {
        font-size: 2.5em;
        margin-right: 20vw;
    }
    section.productive p {
    font-size: 1.5em;
    margin-right: 10vw;
    }
    section.productive div.text a {
    font-size: 1.5em;
    }
}

/* section comments */
section.comments {
    margin-top: 20vh;
    position: relative;
    padding: 0 5vw;
}

section.comments div.comment {
    position: relative;
    background-color:  hsl(219, 30%, 18%);
    margin-bottom: 5vh;
    padding: 5vh 5vh;
}

section.comments img.quotes {
    position: absolute;
    z-index: 2;
    bottom: 101%;
    height: 5vh;
}

section.comments div.comment p {
    margin-bottom: 3vh;
    line-height: 150%;
}

section.comments div.comment img {
    border-radius: 50%;
    padding: 3%;
    width: 30%;
}

section.comments div.comment div.person {
    position: absolute;
    top: 55%;
    left: 40%;
}

@media (min-width: 411px) {
    section.comments div.comment p {
        font-size: 1.2em;
    }
    section.comments div.comment div.person h1 {
        font-size: 1.8em;
    }
    section.comments div.comment div.person p {
        font-size: 1.4em;
    }
}

@media (min-width: 768px) {
    section.comments {
        padding: 0 15vw;
    }
    section.comments div.comment p {
        font-size: 1.5em;
    }
    section.comments div.comment div.person h1 {
        font-size: 2em;
    }
    section.comments div.comment div.person p {
        font-size: 1.6em;
    }
    section.comments div.comment img {
        width: 35%;
    }
    section.comments div.comment div.person {
        left: 45%;
    }
}

@media (min-width: 1024px) {
    section.comments div.comment {
        float: left;
        width: calc((100% - 90px) / 3);
        margin: 0 15px;
        padding: 3vh 3vh;
    }
    section.comments {
        padding: 0 5vw;
        margin-top: 15vh;
    }
    section.comments div.comment img {
        width: 40%;
    }
    section.comments div.comment div.person {
        top: 63%;
    }
}

/* section contact */
section.contact {
    margin: 20vh 10vw 10vh;
}

section.contact div.contact {
    padding: 5vw 5vw 10vw;
    background-color:hsl(217, 28%, 15%);
    text-align: center;
}
section.contact div.contact h1 {
    padding-bottom: 3vw;
}

section.contact div.contact p {
    margin-bottom: 5vh;
    line-height: 150%;
}

section.contact div.contact input[type=email] {
    background-color: hsl(0, 0%, 100%);
    padding: 2vh 8vw;
    margin: 0 auto 3vh;
    color: black;
    border-radius: 25px;
    border: none;
    font-size: 10px;
    line-height: 13px;
    width: 90%;
    height: 5vh;
}

section.contact div.contact input[type=email]:focus {
        outline: none;
}

section.contact div.contact button {
    display: inline-block;
    margin: 0 auto;
    background-image: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: hsl(0, 0%, 100%);
    font-size: 1.3em;
    border-radius: 25px;
    border: none;
    width: 90%;
    height: 5vh;
}

@media (min-width: 411px) {
    section.contact div.contact h1 {
        font-size: 1.8em;
    }
    section.contact div.contact p {
        font-size: 1.3em;
    }
}

@media (min-width: 768px) {
    section.contact div.contact input[type=email] {
        float: left;
        width: 60%;
    }
    section.contact div.contact button {
        float: right;
        width: 35%;       
    }
    section.contact div.contact h1 {
        font-size: 2.2em;
    }
    section.contact div.contact p {
        font-size: 1.5em;
    }
}

@media (min-width: 1024px) {
    section.contact {
        margin-right: 20vw;
        margin-left: 20vw;
    }
    section.contact div.contact {
        padding-bottom: 10vh;
    }
}

/* section fylo */
section.fylo {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

section.fylo div.icons {
    margin-top: 3vh;
    margin-bottom: 5vh
}

div.icon {
    margin-bottom: 4vh;
}

section.fylo div.icon img {
    padding-right: 3vw;
    display: block;
    float: left;
    width: 8vw;
}

section.fylo div.icon p {
    float: left;
    font-size: 1.3em;
}

div.aboutus {
    margin-bottom: 4vh;
}

div.aboutus a {
    display: block;
    font-size: 1.3em;
    line-height: 180%;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

div.contactus a {
    display: block;
    font-size: 1.3em;
    line-height: 180%;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

@media (min-width: 768px) {
    section.fylo img.logo {
        width: 200px;
    }
    section.fylo div.icon img {
        width: 45px;
    }
    section.fylo div.icon p {
        font-size: 2em;
    }
    div.aboutus a {
        font-size: 2em;
    }
    div.contactus a {
        font-size: 2em;
    }

    div.icons {
        float: left;
        width: calc(100% / 3);
    }
    div.aboutus {
        float: left;
        width: calc(100% / 3);
    }
    div.contactus {
        float: left;
        width: calc(100% / 3);
    }
}

@media (min-width: 768px) {
    section.fylo div.icon img {
        width: 60px;
}

/* footer */
footer {
    margin-bottom: 2vh;
}
footer p {
    font-size: 1.2em;
    text-align: center;
    line-height: 150%;
}

footer a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    font-size: 1.4em;
}

footer span {
    color: hsl(228, 45%, 44%);
    font-size: 1.4em;
}