/* font-family: 'Raleway', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html {
    background-color:  hsl(218, 28%, 13%);
    color: hsl(0, 0%, 100%);
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}

/* nav */
nav {
    padding: 3% 5% 0;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

nav div.logo {
    width: 25vw;
    float: left;
}

nav div.logo img {
    width: 100%;
}

nav ul {
    list-style: none;
    float: right;
}

nav ul li { 
    float: left;
}

nav ul li a {
    display: block;
    margin: 2vw 2vw 0;
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
    text-decoration: none;
}

@media (min-width: 411px) {
    nav ul li a {
    font-size: 1.8rem;
    }
}

@media (min-width: 768px) {
    nav ul li a {
    font-size: 2.0rem;
    }
}

@media (min-width: 1024px) {
    nav ul li a {
    font-size: 2.5rem;
    }
}

@media (min-width: 1440px) {
    nav ul li a {
    font-size: 3.0rem;
    }
}

/* header */

header {
    margin-top: 3%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

header div.welcome img {
    display: block;
    margin: 0 auto;
    width: 80vw;
    max-width: 500px;
}

header div.welcome h1 {
    max-width: 750px;
    margin: 5vh 10vw 0;
    text-align: center;
    line-height: 150%;
}

header div.welcome p {
    max-width: 750px;
    margin: 2vh 10vw 0;
    text-align: center;
    font-size: 1.3em;
    line-height: 140%;
}

@media (min-width: 375px) {
    header div.welcome h1 {
        font-size: 2.3em;
    }
    header div.welcome p {
        font-size: 1.5em;
    }
}

@media (min-width: 425px) {
    header div.welcome h1 {
        font-size: 2.5em;
    }
    header div.welcome p {
        font-size: 1.7em;
    }
}

@media (min-width: 768px) {
    header div.welcome h1 {
        font-size: 3.5em;
    }

}

@media (min-width: 1024px) {
    header div.welcome h1 {
        font-size: 4em;
        margin-left: auto;
        margin-right: auto;
    }
    header div.welcome p {
        font-size: 1.8em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1440px) {
    header div.welcome h1 {
        font-size: 5em;
    }
    header div.welcome p {
        font-size: 2em;
    }
}

header button {
    display: block;
    margin: 5vw auto 0;
    background-image: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    padding: 2vh 8vw;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1.3em;
    border-radius: 25px;
    border: none;
}

/* section features */
section.features {
    margin-top: 15vh;
    text-align: center;
}

section.features img {
    display: block;
    margin: 2vh auto;
    height: 70px;
}

section.features h2 {
    margin-bottom: 2vh;
}

section.features p {
    margin: 0 15vw 3vh;
    font-size: 1.3em;
}

@media (min-width: 768px) {
    div.feature {
        float: left;
        width: 50%;
    }
    section.features h2 {
        font-size: 2em;
    }
    section.features p {
        margin: 0 10vw 10vh;
        font-size: 1.5em;
    }
}



/* footer */
.attribution {
    font-size: 12px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}